<h1>Blog Administration</h1>
<h2>Posts</h2>
  <%= button_to 'Manage Your Posts', posts_path, method: "get" %>
<h2>Users</h2>
  <%= button_to 'Manage Your Users', users_path, method: "get" %>
<h2>Settings</h2>
  <%= link_to 'Manage Your Settings', edit_setting_path %>
