<h1>Thomas's Blog</h1>
<% @posts.each do |post|%>
  <div class='post'>
    <h2><%= link_to post.title, post %> - <%= post.created_at.strftime("%d %b %Y") %></h2>
    <p><%= post.body.to_s.html_safe %></p>
  </div>
<% end %>