/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
//= require font-awesome

html {
  color: #000;
  background:#f1f1f1;
  line-height:1.5em;
  font-family:sans-serif;
}

body {
}
#wrapper {
  padding-left: 25%; /* "left col (nav + list)" width */
  position: relative;
}

#menu {
  text-align: center;
  border-right: solid #000 4px;
  color: #fff;
  background: #860224;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 25%;
  margin-left: -25%;

  #menu_content {
    margin-top: 20%;
    margin-left:auto;
    margin-right:auto;
    #image {
      height:160px;
      width:160px;
      margin: 10% auto 10% auto;
      border: 2px solid #fff;
    }

    ul {
      padding: 0;
      margin:5%;
      li {
        list-style: none;
        border-top: 2px solid #fff;
        padding:5% 10% 5% 10%;
        a {
          font-size: 130%;
          color: #fff;
          text-decoration: none;
        }
      }
      li:last-child{
        border-bottom: 2px solid #fff;
      }
    }

    #name {
      h1 {
        margin:5%;
        text-transform:uppercase;
        font-size: 2em;
        line-height: 1.25em;
      }
    }

    #tagline {
      h2 {
        margin: 4%;
      }
      p {
        margin: 4%;
        text-align: justify;
      }
    }

    #media_icons {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          padding: 4%;
          border: none;
          display: inline-block;
          a {
            i {
              color: #fff;
            }
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

#main_content {
  display: block;
  width:90%;
  margin:auto;
  padding:2%;

  h1 {
    margin-bottom: 50px;
    font-size:40px;
  }

  p {
    padding:4px;
  }
  
  p#notice {
    padding-bottom: 10px;
    font-size:14px;
    font-weight:bold;
  }

  form {
    fieldset {
      margin: 10px 0px 10px 0px;
    }
    label {
      display: inline-block !important;
      padding-bottom: 2px;
      font-weight: bold;
    }
  }
}
