// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#content{

  a.back{
    &:hover {
      color: #000;
      background-color: transparent;
    }
    &:visited {
      color: #000;
      background-color: transparent;
    }
    i {
      margin-bottom: 4%;
    }
  }

  .title{
    margin-bottom:5px;
    h1{
      margin-bottom: 10px;
      font-size:30px;
    }
  }
  .body{
    margin: 10px 0px 10px 0px;
  }
  .comments{
    margin: 10px 0px 20px 0px;
    h3{
      margin: 0px 0px 5px 0px;
      font-size: 1.5em;
    }
    .comment{
      min-height: 80px;
      margin: 10px 0px 10px 0px;
      padding: 10px 0px 10px 0px;

      h4{
        margin: 0px 0px 10px 0px;
      }
    }
  }
}