// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#content {
  h1 {
    margin-bottom: 50px;
    font-size:30px;
  }
}

.post{
  padding: 2%;
  margin-bottom:2%;
  background:#F9F9F9;
  h2{
    font: 150% sans-serif;
    border-bottom: 3px solid #000;
  }
}